.slider {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
  
.slide {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease;
}

.slide img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 920px) {
    .slide img {
      width: 250%;
      height: 100%;
    }
}

.current {
    opacity: 1;
}
  
.content {
    position: absolute;
    top: 40%;
    left: 7%;
    opacity: 0;
    max-width: fit-content;
    padding: 3rem;
    background: #263243c7;
    animation: slide-up 1s ease 0.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

@media screen and (max-width: 960px) {
    .content{
        left: 10%;
        padding: 2rem;
    }
}
  
@keyframes slide-up {
    0% {
      visibility: visible;
      top: 23rem;
    }
    100% {
      visibility: visible;
      top: 17rem;
    }
}
  
@media screen and (max-width: 960px) {
    .content {
      width: 80%;
    }
}
  
.content > * {
    color: #fff;
    margin-bottom: 1rem;
}
  
.current .content {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease;
}
  
.arrow {
    border: 1px solid white;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    position: absolute;
    z-index: 999;
}

@media screen and (max-width: 960px) {
    .arrow {
      height: 1.7rem;
      width: 1.7rem;
    }
}

.arrow:hover {
    border: 1px solid #17cf97;
    color: #17cf97;
}
  
.next {
    top: 40%;
    right: 1.5rem;
}
.prev {
    top: 40%;
    left: 1.5rem;
}
  
hr {
    height: 2px;
    background: white;
    width: 50%;
}